body {
	/*background-color: rgb(237, 237, 237);*/
	font: menu;
	margin: 0;
	box-sizing: border-box;
	padding: 0 30px;
	min-height: 800px;
}

span.selectLabel {
	display: inline-block;
	display: inline-block;
	min-width: 250px;
	max-width: 300px;
}

_:-moz-tree-row(hover), body {
	padding: 5px 20px!important;
}

section {
	margin: 0 auto;
	width: 600px;
}

section:last-child {
	margin-bottom: 20px;
}

a {
	color: rgb(17, 85, 204);
}

.section-header {
	color: rgb(95, 95, 95);
	display: flex;
	font-size: 1.17rem;
	font-weight: normal;
	line-height: 2rem;
	margin: 20px 0 12px 0;
}

.section-header::after {
	background-image: linear-gradient(rgb(190, 190, 190), transparent 1px);
	background-position: left 55%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	content: '';
	flex: auto;
}

section div {
	margin: 5px 20px;
}

.sub-navigation-option {
	margin-left: 25px;
}

.hidden {
	display: none!important;
}

.checkbox span,
input[type=button],
input[type=checkbox] {
	cursor: pointer;
}

.valspan {
	vertical-align: middle;
	font-size: 0.8rem;
	color: #666;
}

.valspan input[type=range] {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

select {
	cursor: pointer;
	min-width: 110px;
}

input[type=number] {
	min-width: 110px;
	box-sizing: border-box;
	padding: 1px 3px;
	margin-right: 0.3rem;
}

button {
	padding: 2px 12px;
	margin-right: 5px;
	min-width: 6.3em;
}

input[type=file] {
	height: 0;
	visibility: hidden;
	width: 0;
}

input[type=checkbox] {
	vertical-align: sub;
}

*:before {
	padding-right: 5px;
	font: menu;
}

.localization:before { content: '__MSG_LOCALIZATION__'; }
.date-format:before { content: '__MSG_DATE_FORMAT__'; }
.time-format:before { content: '__MSG_TIME_FORMAT__'; }
.appearance:before { content: '__MSG_APPEARANCE__'; }
.appearance-icon:before { content: '__MSG_APPEARANCE_ICON__'; }
.disable-date-groups:before { content: '__MSG_DISABLE_DATE_GROUPS__'; }
.thick-frame:before { content: '__MSG_THICK_FRAME__'; }
.article-font-size:before { content: '__MSG_ARTICLE_FONT_SIZE__'; }
.ui-font-size:before { content: '__MSG_UI_FONT_SIZE__'; }
.move-by-scrolled:before { content: '__MSG_MOVE_BY_SCROLLED__'; }
.show-upd-spinner:before { content: '__MSG_SHOW_UPD_SPINNER__'; }
.behaviour:before { content: '__MSG_BEHAVIOUR__'; }
.auto-read:before { content: '__MSG_AUTO_READ__'; }
.on-ten-tabs:before { content: '__MSG_ON_TEN_TABS__'; }
.panel-toggle:before { content: '__MSG_PANEL_TOGGLE__'; }
.always-full-date:before { content: '__MSG_ALWAYS_FULL_DATE__'; }
.circular-nav:before { content: '__MSG_CIRCULAR_NAV__'; }
.title-link:before { content: '__MSG_TITLE_LINK__'; }
.remove-pinned:before { content: '__MSG_REMOVE_PINNED__'; }
.badge:before { content: '__MSG_BADGE__'; }
.sound:before { content: '__MSG_SOUND__'; }
.enable-sound:before { content: '__MSG_ENABLE_SOUND__'; }
.use-sound:before { content: '__MSG_USE_SOUND__'; }
.user-sound:before { content: '__MSG_USER_SOUND__'; }
.volume:before { content: '__MSG_VOLUME__'; }
.export-group:before { content: '__MSG_EXPORT_GROUP__'; }
.export:before { content: '__MSG_EXPORT__'; }
.import-group:before { content: '__MSG_IMPORT_GROUP__'; }
.import:before { content: '__MSG_IMPORT__'; }
.clear:before { content: '__MSG_CLEAR__'; }
.clear-all:before { content: '__MSG_CLEAR_ALL__'; }
#clear-data:before { content: '__MSG_CLEAR_DATA__'; }
.version:before { content: '__MSG_VERSION__'; }
.bug-reps:before { content: '__MSG_BUG_REPS__'; }
.found-bug:before { content: '__MSG_FOUND_BUG__'; }
.sync:before { content: '__MSG_SYNC__'; }
.sync-all:before { content: '__MSG_SYNC_ALL__'; }
.sec:before { content: '__MSG_SEC__'; }
#sync-data-out:before { content: '__MSG_SYNC_DATA_OUT__'; }
#sync-data-in:before { content: '__MSG_SYNC_DATA_IN__'; }
#sync-data-auto:before { content: '__MSG_SYNC_DATA_AUTO__'; }
#sync-data-manual:before { content: '__MSG_SYNC_DATA_MANUAL__'; }
#open-dialog-import-opml:before { content: '__MSG_IMPORT__'; }
#open-dialog-import-smart:before { content: '__MSG_IMPORT__'; }
#open-dialog-import-smart:before { content: '__MSG_IMPORT__'; }
#open-dialog-default-sound:before { content: '__MSG_DEFAULT_SOUND__'; }
